@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i");
section#top > header.wrap, section#top > header.wrap .logo, section#top > header.wrap .navigation, section#portfolio .wrap > .port-items, section#about > .wrap > .about_profils, section#about > .wrap > .about_profils > .profil > div > .social, section#contacts > .wrap > .info, section#contacts > .wrap > .info > .mess, footer .wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #fff;
  font-family: 'Lato', san-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
}

a {
  font-family: 'Lato', san-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
  text-decoration: none;
}

section#portfolio .wrap > h2, section#about > .wrap > h2, section#contacts > .wrap > h2 {
  padding-bottom: 20px;
  font-size: 24px;
}

section#portfolio .wrap > h4, section#about > .wrap > h4 {
  padding-bottom: 20px;
  font-size: 16px;
}

.wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

section#contacts > .wrap > .info > .mess > input[type="text"], section#contacts > .wrap > .info > .mess > textarea {
  border: 1px solid #bec3c7;
  font-family: 'Lato', san-serif;
  font-size: 14px;
  line-height: 2;
  padding: 10px 20px;
  margin-bottom: 20px;
  outline: none;
}

section#top {
  width: 100%;
  position: relative;
}

section#top > header.wrap {
  flex-basis: 100%;
  justify-content: space-between;
  padding: 20px 0;
}

section#top > header.wrap .logo > .logo_name {
  padding-left: 15px;
}

section#top > header.wrap .logo > .logo_name > h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

section#top > header.wrap .dropdown {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: #1bbc9b;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  display: none;
}

section#top > header.wrap .navigation {
  overflow: hidden;
}

section#top > header.wrap .navigation > li {
  align-self: center;
}

section#top > header.wrap .navigation > li .nav_item {
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #737373;
  transition: 0.3s;
}

section#top > header.wrap .navigation > li .nav_item:hover {
  background-color: #1bbc9b;
  color: white;
}

section#top > header.wrap .navigation > li:last-child {
  padding-right: 0;
}

section#top .slogan {
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center -40px/cover;
}

section#top .slogan > .wr {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 120px;
  text-align: center;
  color: white;
}

section#top .slogan > .wr > h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

section#top .slogan > .wr > h1 .bold {
  font-weight: 700;
}

section#top .slogan > .wr > h3 {
  font-size: 16px;
  margin-bottom: 60px;
}

section#top .slogan > .wr > .more {
  padding: 12px 20px;
  background: #1bbc9b;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
}

section#top .slogan > .wr > .more:hover {
  background-color: #158f76;
}

section#portfolio {
  width: 100%;
  position: relative;
}

section#portfolio .wrap > h2 {
  color: black;
}

section#portfolio .wrap > .port-items {
  width: 100%;
  justify-content: space-between;
}

section#portfolio .wrap > .port-items > .item {
  position: relative;
  width: 25%;
  max-height: 170px;
  margin: 15px 0;
}

section#portfolio .wrap > .port-items > .item > a {
  max-height: 100%;
  position: relative;
  display: inline-block;
}

section#portfolio .wrap > .port-items > .item > a > .filter {
  position: absolute;
  top: 20%;
  left: 25%;
  opacity: 0;
  transition: 0.3s;
}

section#portfolio .wrap > .port-items > .item > a > .filter > h4 {
  padding: 6px 0;
  font-size: 16px;
  color: white;
}

section#portfolio .wrap > .port-items > .item > a > .filter > p {
  color: white;
}

section#portfolio .wrap > .port-items > .item > a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1bbc9b;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

section#portfolio .wrap > .port-items > .item > a:hover::before {
  opacity: 0.6;
}

section#portfolio .wrap > .port-items > .item > a:hover > .filter {
  opacity: 1;
}

section#about {
  position: relative;
  width: 100%;
  background-color: #1bbc9b;
}

section#about > .wrap > h2 {
  color: white;
}

section#about > .wrap > h4 {
  color: white;
}

section#about > .wrap > .about_profils {
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

section#about > .wrap > .about_profils > .profil {
  position: relative;
  width: 33.333%;
}

section#about > .wrap > .about_profils > .profil > div {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
}

section#about > .wrap > .about_profils > .profil > div > .profil-link {
  display: inline-block;
  background-color: white;
}

section#about > .wrap > .about_profils > .profil > div > .profil-link > .descr {
  padding: 10px;
}

section#about > .wrap > .about_profils > .profil > div > .profil-link > .descr > h3 {
  font-size: 18px;
}

section#about > .wrap > .about_profils > .profil > div > .profil-link > .descr > h5 {
  padding-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

section#about > .wrap > .about_profils > .profil > div > .social {
  position: absolute;
  top: 27%;
  left: 15%;
  padding: 5px 10px;
  justify-content: space-between;
  width: 65%;
  background: rgba(27, 188, 155, 0.7);
  transition: 0.3s;
  opacity: 0;
}

section#about > .wrap > .about_profils > .profil > div > .social > li {
  width: 25%;
}

section#about > .wrap > .about_profils > .profil > div > .social > li > a {
  font-size: 21px;
  color: white;
  transition: 0.2s;
}

section#about > .wrap > .about_profils > .profil > div > .social > li:nth-child(1) > a:hover {
  color: #152cff;
}

section#about > .wrap > .about_profils > .profil > div > .social > li:nth-child(2) > a:hover {
  color: #626fff;
}

section#about > .wrap > .about_profils > .profil > div > .social > li:nth-child(3) > a:hover {
  color: #ff2f00;
}

section#about > .wrap > .about_profils > .profil > div > .social > li:nth-child(4) > a:hover {
  color: #ff630f;
}

section#about > .wrap > .about_profils > .profil > div:hover .social {
  opacity: 1;
}

section#contacts {
  width: 100%;
  background-color: #ecf0f1;
}

section#contacts > .wrap > h4 {
  font-size: 16px;
  padding-bottom: 50px;
}

section#contacts > .wrap > .info {
  justify-content: space-between;
}

section#contacts > .wrap > .info > .mess {
  width: 50%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

section#contacts > .wrap > .info > .mess > input[type="text"] {
  width: 40%;
}

section#contacts > .wrap > .info > .mess > textarea {
  width: 100%;
  resize: none;
}

section#contacts > .wrap > .info > .mess > input[type="submit"] {
  background-color: #1bbc9b;
  padding: 15px 25px;
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  transition: 0.2s;
}

section#contacts > .wrap > .info > .mess > input[type="submit"]:hover {
  cursor: pointer;
  background-color: #18a689;
}

section#contacts > .wrap > .info > .loc {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  text-align: left;
}

section#contacts > .wrap > .info > .loc > h4 {
  padding-bottom: 20px;
  text-transform: uppercase;
}

section#contacts > .wrap > .info > .loc > p {
  padding-bottom: 25px;
  line-height: 2;
}

footer {
  background-color: #2d3e50;
  color: white;
}

footer .wrap {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer .wrap > a {
  padding: 0 12px;
  background-color: #1bbc9b;
  font-size: 30px;
  color: white;
  transition: 0.2s;
}

footer .wrap > a:hover {
  background-color: #18a689;
  color: orange;
}

footer .wrap > p {
  vertical-align: center;
}
